<div class="nav-message">
  <%= link_to realty_path(@realty), class: "btn-retour" do %>
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  <% end %>
  <p class="title">otto</p>
</div>

<div class="container_realty" data-controller="realty-subscription" data-realty-subscription-realty-id-value="<%= @realty.id %>" data-realty-subscription-user-id-value="<%= current_user.id %>" >


  <div class="messages" data-realty-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= form_for [@realty, @message], data: { action: "turbo:submit-end->realty-subscription#resetForm" }, class: "d-flex" do |f| %>
    <div class="message-nav-content">
      <%= f.text_field :content, placeholder: "Message #{@realty.name}", class: "input"  %>
      <button type="submit" class="btn-icon">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  <% end %>
</div>

<%# Scroll vers le dernier message %>
<script>
    messagesContainer = document.querySelector("body > div.container > div > div");
    messagesContainer.scrollTo(0, messagesContainer.scrollHeight);
</script>
