<div class="nav-message">
  <%= link_to realty_path(@realty), class: "btn-retour" do %>
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  <% end %>
  <p class="title"><%= @realty.name %></p>
</div>

<div
      data-controller="realty-subscription"
      data-realty-subscription-realty-id-value="<%= @realty.id %>"
      data-realty-subscription-user-id-value="<%= current_user.id %>"
      data-realty-subscription-last-message-id-value="<%= @messages.last.id %>"
      >

  <div class="messages" data-realty-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= form_with model: [@realty, @message], data: { action: "turbo:submit-end->realty-subscription#resetForm" }, class: "d-flex" do |f| %>
    <div class="message-nav-content">
      <%= f.text_field :content, placeholder: "Votre message...", class: "input"  %>
      <button type="submit" class="btn-icon">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  <% end %>


  <%# Scroll vers le dernier message %>
  <script>
    setTimeout(() => {
      messagesContainer = document.querySelector(".messages");
      messagesContainer.scrollTo(0, messagesContainer.scrollHeight);
    }, 100);
  </script>
</div>
