
<div class="container realty" data-controller="realty-subscription" data-realty-subscription-realty-id-value="<%= @realty.id %>" data-realty-subscription-user-id-value="<%= current_user.id %>" >
  <%= link_to realty_path(@realty), class: "btn btn-primary" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>

  <h1><%= @realty.name %></h1>

  <div class="messages" data-realty-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@realty, @message], html: { data: { action: "turbo:submit-end->realty-subscription#resetForm" }, class: "d-flex" } do |f|%>
    <div class="input-group mb-3">
      <%= f.input :content, label: false, placeholder: "Message #{@realty.name}", wrapper_html: {class: "form-control"} %>
        <button type="submit" class="btn btn-primary btn-icon">
          <i class="fas fa-paper-plane"></i>
        </button>

      </button>

    </div>
  <% end %>
</div>

<%# Scroll vers le dernier message %>
<script>
    messagesContainer = document.querySelector("body > div.container > div > div");
    messagesContainer.scrollTo(0, messagesContainer.scrollHeight);
</script>
