<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<div class="container realty">
  <h1>
  <%= @realty.name %>
  </h1>

  <div class="messages">
    <% @messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong>
            <%= message.user.email %>
          </strong>
          <i><%= l(message.created_at, format: "%a %b %e à %Hh%M ") %></i>
        </small>
         <p>
         <%= message.content %>
         </p>
      </div>
  </div>
    <% end %>

    <%= simple_form_for [@realty, @message],
      html: {class: "d-flex"} do |f|%>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{@realty.name}",
        wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
</div>

