<div class="container-candidature">

  <h1>Liste des candidatures</h1>

  <div class="row">
    <% @candidatures.each do |candidature| %>
      <div class="col-md-4 mb-4">
        <div class="card-candidature">
          <div class="card-body-candidature">
            <h5 class="card-title-candidature"><%= candidature.user.full_name %></h5>
            <p class="card-text-candidature">Realty: <%= candidature.realty.name %></p>
            <p class="card-text-candidature">Status: <%= candidature.status.capitalize %></p>
            <%= link_to "Afficher", realty_candidature_path(candidature.realty, candidature), class: "btn btn-primary btn-candidature" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Postuler pour cette propriété", new_realty_candidature_path(@realty), class: "btn btn-primary" %>

</div>
