<h1>Claims</h1>


    <% @claims.each do |claim| %>
      <ul>
        <li><%= claim.title %></li>
        <li><%= claim.content %></li>
        <li><%= claim.realty.name %></li>
        <li><%= link_to 'Show', claim %></li>
        <li><%= link_to 'Edit', edit_claim_path(claim) %></li>
        <li><%= link_to 'Delete', claim, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>




<%= link_to 'New Claim', new_realty_claim_path(@realty) %>

<%=console %>
