<h1>Claims</h1>


    <% @claims.each do |claim| %>
      <ul>
        <li> Titre : <%= claim.title %></li>
        <li> Contenu de la demande :<%= claim.content %></li>
        <li> <%= claim.status %></li>
        <li> Nom de l'appartement :<%= claim.realty.name %></li>
        <li><%= link_to 'Show', realty_claim_path(claim.realty, claim) %></li>
        <% if claim.tenant == current_user %>
          <li><%= link_to 'Edit', edit_realty_claim_path(claim.realty, claim) %></li>
        <% end %>
      </ul>
    <% end %>



<%= link_to 'New Claim', new_realty_claim_path(@realty) %>

<%= link_to 'Retour show appartement', realty_path(@realty) %>
