<h1>Claims</h1>


    <% @claims.each do |claim| %>
      <ul>
        <li> Titre : <%= claim.title %></li>
        <li> Contenu de la demande :<%= claim.content %></li>
        <li> Nom de l'appartement :<%= claim.realty.name %></li>

        <li><%= link_to 'Show', claim %></li>
        <li><%= link_to 'Edit', edit_realty_claim_path(claim.realty, claim) %></li>
        <li><%= link_to 'Delete', claim_path(claim), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
      </ul>
    <% end %>




<%= link_to 'New Claim', new_realty_claim_path(@realty) %>
