<div class="container_claim">
  <div class="btn-retour">
    <%= link_to realty_claims_path(@claim.realty), class: "btn-primary-claim" do %>
      <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="titre-show_claim">
    <h3><strong>Ma Réclamation</strong></h3>
  </div>
  <div class="card">
    <div class="info-container">
      <div class="card-title">
        <div class="carte-titre-show-claim">
        <h6><strong>Nom de la panne:</strong></h6>
        <%= @claim.title %>
        </div>
        <div class="carte-titre-show-claim-gauche">
          <h6 class="card-title"><strong>Contenu:</strong></h6>
          <%= @claim.content %>
        </div>
        <div class="carte-titre-show-claim-gauche">
          <h6><strong>Nom de l'appartement:</strong></h6>
          <%= @claim.realty.name %>
        </div>
        <div class="carte-titre-show-claim-gauche">
          <h6><strong>Nom du lésé:</strong></h6>
          <%= @claim.tenant.full_name %>
      </div>
    </div>
    <% if @claim.photo.attached? %>
      <%= image_tag(@claim.photo) %>
    <% else %>
      <p>No photo available</p>
    <% end %>
  </div>
  <div class="btn-claim-edit">
    <% if @claim.tenant == current_user %>
      <%= link_to 'Mettre à jour', edit_realty_claim_path(@claim.realty, @claim), class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if current_user == @claim.realty.user && @claim.status == 'pending' %>
    <div class="titre-acceptation">
      <h4>Voulez-Vous accepter la demande ?</h4>
    </div>
<div class="bouton-acceptation">
    <div class="btn-circle">
    <%= link_to raw('<i class="fa-solid fa-xmark fa-lg"></i>'), refuse_claim_path(@claim), data: { turbo_method: :patch }, class: "btn-delete"  %>
    </div>
    <%= link_to raw('<i class="fa-solid fa-check fa-lg"></i>'), accept_claim_path(@claim), data: { turbo_method: :patch }, class: "btn-validate"  %>
  <% end %>

  <div class="btn-path-show-realty">
  <% if @claim.status == 'En cours' %>
    <%= link_to 'Terminé', done_claim_path(@claim), data: { turbo_method: :patch }, class: "btn btn-info " %>
  <% end %>
  </div>
</div>
