<%= simple_form_for(@realty, html: { class: 'form' }) do |form| %>
  <% if @realty.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@realty.errors.count, "error") %>:</h2>

      <ul>
        <% @realty.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="btn-retour">
      <%= link_to realties_path, class: "btn-retour" do %>
        <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <% end %>
    </div>
  <div class="form-group">

    <%= form.label :Nom %>

    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Loyer %>
    <%= form.text_field :rent, class: 'form-control' %>
  </div>


  <div class="form-group select-wrapper">
  <%= form.label :Catégorie %>
  <div class="input-with-icon">
    <%= form.select :category, ['Studio', 'Appartement T2', 'Appartement T3', 'Loft', 'Maison'], {}, class: 'form-control' %>
    <i class="fas fa-chevron-down"></i>

  </div>
</div>




  <div class="form-group">
    <%= form.label :Adresse %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>
  <% if false %>
    <div class="form-group">
      <%= form.label "Date_de_paiement_du_loyer"%>
      <%= form.date_field :payment_date %>
    </div>
  <% end %>

   <% if form.object&.tenants.any? %>
    <% form.object&.tenants.each do |tenant| %>
      <% if tenant.user %>
      <%= tenant.user.full_name %>
        <% else %>
      Utilisateur non disponible
        <% end %>
     <% end %>
   <% end %>


   <div class="form-group">

    <%= label_tag  :Mail_du_locataire %>

    <%= text_field_tag :tenant_email%>
  </div>
<%= form.input :tenant_enter_date, as: :date, label: "Date d'entrée", input_html: { value: form.object.tenant_enter_date&.strftime('%d/%m/%Y') }, html5: true %>
<%= form.input :tenant_out_date, as: :date, label: "Date de sortie", input_html: { value: form.object.tenant_out_date&.strftime('%d/%m/%Y') }, html5: true  %>





<div class="actions text-center">
  <% if form.object.persisted? %>
    <%= form.submit "Mettre à jour",  class: 'btn btn-primary' %>
  <% else %>
    <%= form.submit "Créer votre appartement",  class: 'btn btn-primary' %>
  <% end %>
</div>
<% end %>
