<div class="m-3">
  <div class="titre-index-realties my-3">
    <h2>Bienvenue, <%= "#{current_user.first_name}"%>&nbsp;<%= "#{current_user.last_name}" %></h2>
  </div>

  <% if @location_realties.any? %>
    <div class="titre-index-realties">
      <h3>Vos locations</h2>
    </div>
    <% @location_realties.each do |realty| %>
        <div class="col-md-4">
        <div class="card mb-4">
          <a href="<%= realty_path(realty) %>" class="card-link">
            <div class="card-name">
              <% if realty.category == "Maison" %>
                <i class="fa-solid fa-house"></i>
              <% else %>
                <i class="fa-solid fa-hotel"></i>
              <% end %>
              <div class="card-contain">
                <div class="title">
                  <h5><%= realty.name %></h5>
                </div>
                <div class="text">
                  <h5><%= realty.address %></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @owned_realties.any? %>
    <div class="titre-index-realties mt-5 mb-3">
      <h4>Mes propriétés :</h3>
    </div>
    <% @owned_realties.each do |realty| %>
      <%= link_to realty_path(realty), class:"card-link" do  %>
        <div class="card-product my-2">
          <% if realty.category == "Maison" %>
            <%= image_tag("maison.svg") %>
          <% else %>
              <%= image_tag("appartement.svg") %>
          <% end %>
          <div class="card-product-infos">
            <div>
              <h5><%= realty.name %></h3>
            </div>
            <div>
              <p><strong><%= realty.address %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="row my-5 text-center">
    <div>
      <%= link_to "Ajouter", new_realty_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
