<div class="container">
  <h1>Bienvenue, <%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
  <div class="row">
    <% if @location_realties.any? %>
      <h2>Vos locations</h2>
      <% @location_realties.each do |realty| %>
         <div class="col-md-4">
          <div class="card mb-4">
            <a href="<%= realty_path(realty) %>" class="card-link">
              <div class="card-name">
                <% if realty.category == "Maison" %>
                  <i class="fa-solid fa-house"></i>
                <% else %>
                  <i class="fa-solid fa-hotel"></i>
                <% end %>
                <div class="card-contain">
                  <div class="title">
                    <h5><%= realty.name %></h5>
                  </div>
                  <div class="text">
                    <h5><%= realty.address %></h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>

    <% if @owned_realties.any? %>
      <h2>Vos propriétés</h2>
      <% @owned_realties.each do |realty| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <a href="<%= realty_path(realty) %>" class="card-link">
              <div class="card-name">
                <% if realty.category == "Maison" %>
                  <i class="fa-solid fa-house"></i>
                <% else %>
                  <i class="fa-solid fa-hotel"></i>
                <% end %>
                <div class="card-contain">
                  <div class="title">
                    <h5><%= realty.name %></h5>
                  </div>
                  <div class="text">
                    <h5><%= realty.address %></h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>

  <div class= "Ajout">
  <%= link_to "Ajouter", new_realty_path, class: "btn btn-primary" %>
</div>
