<div class="container">
  <h1>Bienvenue sur la page d'accueil des biens immobiliers !</h1>
  <div class="row">
    <% if @location_realties.any? %>
      <h2>Vos locations</h2>
      <% @location_realties.each do |realty| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <i class="bi bi-house-fill" style="font-size: 48px;"></i>
              <h5 class="card-name"><%= realty.name %></h5>
              <%= link_to "Votre bien", realty_path(realty), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @owned_realties.any? %>
      <h2>Vos propriétés</h2>
      <% @owned_realties.each do |realty| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <i class="bi bi-house-fill" style="font-size: 48px;"></i>
              <h5 class="card-name"><%= realty.name %></h5>
              <%= link_to "Votre bien", realty_path(realty), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Créer votre bien", new_realty_path, class: "btn btn-primary" %>
</div>
