<!-- app/views/candidatures/edit.html.erb -->
<h1>Modifier la candidature : <%= @candidature.realty.name %></h1>

<%= form_with(model: @candidature, url: candidature_path(@candidature), local: true, method: :patch) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :realty_id %>
    <%= form.collection_select :realty_id, Realty.all, :id, :name, prompt: true %>
  </div>

  <%= form.submit 'Mettre à jour' %>
<% end %>

<%= link_to 'Retour à la candidature', candidature_path(@candidature) %> |
<%= link_to 'Retour à la liste des candidatures', candidatures_path %>
