<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Bienvenue sur Easy&nbsp;Loc </h3>
    </div>
    <%= image_tag("phone.jpg", class: "image-présentation", alt: "Smartphone") %>
    <div class="card-body">
      <p class="card-text">Une application qui permet de mettre en relation les locataires et les propriétaires pour une gestion plus facile.</p>
      <a href="<%= new_user_session_path %>" class="btn btn-primary">Identifiez-Vous</a>
    </div>
  </div>
  <div class="titre2-home">
  <h3>Concept de l'application</h3>
  </div>

  <div class="card">
    <div class="card-header">
      <%= image_tag("accessible.jpg", class: "image-présentation", alt: "Accessible", width: "100%", height: "100%") %>
    </div>
    <div class="card-body">
      <h3>Accessible à Tous</h3>
    </div>
  </div>

 <div class="card">
    <div class="card-header">
      <%= image_tag("horloge.jpg", class: "image-présentation", alt: "Accessible", width: "100%", height: "100%") %>
    </div>
    <div class="card-body">
      <h3>Disponible 7j/7 et 24h/24</h3>
    </div>
  </div>

<div class="card">
    <div class="card-header">
      <%= image_tag("messagerie.jpg", class: "image-présentation", alt: "Accessible", width: "100%", height: "100%") %>
    </div>
    <div class="card-body">
      <h3>Messagerie Sécurisée</h3>
    </div>
  </div>








<%# <div class="card-group">
  <div class="card">
    <i class="fa-solid fa-mobile-screen-button fa-2xl"></i>
    </div>
  </div>
  <div class="card">
  <i class="fa-solid fa-arrow-right-to-bracket fa-2xl"></i>
      <h5 class="card-title">Communication simplifiée</h5>
    </div>
  </div>
  <div class="card">
    <i class="fa-regular fa-envelope fa-2xl" style="color: #0b3d7f;"></i>
      <h5 class="card-title">Messagerie Sécurisée</h5>
    </div>
  </div>
</div> %>









      <%# <div class="row-6">
        <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Creation de profils</h5>
                    <p class="card-text"> Les propriétaires peuvent créer des profils pour présenter leurs biens immobiliers, y compris des photos, des descriptions, des informations sur les commodités, etc.
                    Les locataires peuvent créer des profils pour indiquer leurs préférences de logement, leur historique locatif et d'autres informations pertinentes pour faciliter la recherche de logement.
                    Messagerie intégrée :</p>
                </div>
          </div>
      </div>

      <div class="row-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Messagerie Sécurisé</h5>
            <p class="card-text"> Les propriétaires et les locataires peuvent communiquer directement via notre système de messagerie sécurisé intégré.
            Cela permet d'établir un contact facile et rapide, de poser des questions supplémentaires sur les logements et de planifier des visites.
            Gestion des visites et des demandes :</p>
          </div>
        </div>
      </div> %>


<%#
      <div class="row-6">
        <p>Une fois la sélection effectuée, notre plateforme propose la génération et la signature électronique de contrats de location pour assurer une transaction sécurisée entre les propriétaires et les locataires.
        Cela simplifie le processus de location, élimine les tracas administratifs et offre une sécurité juridique à toutes les parties impliquées.
        Conclusion :
        Notre plateforme de mise en relation propriétaire-locataire est conçue pour faciliter le processus de recherche de logements et de gestion des biens immobiliers. Que vous soyez propriétaire ou locataire, notre site vous offre une expérience utilisateur conviviale, des outils pratiques et une communication directe pour faciliter les transactions immobilières en toute confiance. Rejoignez notre communauté dès aujourd'hui et trouvez votre logement idéal ou le locataire idéal en quelques clics !</p>
      </div> %>
    </div>
  </div>
</div>
