<h2>Mes Documents</h2>

<h3>Ma liste des documents</h3>
<ul>
  <% @documents.each do |document| %>
    <li><%= document.name %></li>
  <% end %>
</ul>

<h3>Ajouter des documents</h3>
<%= form_with(model: @document, url: realty_documents_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :realty_id %>
    <%= form.collection_select :realty_id, Realty.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit "Ajouter le document" %>
  </div>
<% end %>
