<div class="btn-retour">
  <%= link_to realty_path(@realty), class: "btn-primary-claim" do %>
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  <% end %>
</div>
<div class="container_claim">
  <strong><h4>Ma liste des documents</h4></strong>
  <div class="d-flex flex-column gap-4 m-3">
    <% @documents.each do |document| %>
      <div class="row info-container">
        <div class="col-12 text-center">
          <strong><%= document.name %></strong>
        </div>
        <div class="col-12 d-flex justify-content-around">
          <% if document.photo.attached? %>

            <%= link_to url_for(document.photo), target: "_blank" do %>
              <i class="fa-regular fa-eye"></i>
            <% end %>
            <%= link_to rails_blob_url(document.photo, disposition: 'attachment') do %>
              <i class="fas fa-download"></i>
            <% end %>
              <div class="icone_supprimer_document">
              <%= link_to document_path(document), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer ce document?" } do %>
                <i class="fa-regular fa-circle-xmark"></i>
              <% end %>
              </div>

          <% else %>
            <span class="text-muted">Aucun fichier disponible</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="titre-document-ajout">
    <h4>Ajouter un document</h4>
  </div>

    <div class="info-container">
      <%= simple_form_for([@realty, @document]) do |f| %>
        <div class="d-flex flex-column ">
          <%= f.input :name, label: "Titre du document" %>
          <%= f.input :photo, label: "Document", as: :file %>
          <%= f.button :submit, "Ajouter le document", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

</div>
