<div class="btn-retour">
  <%= link_to realty_path(@realty), class: "btn btn-primary" do %>
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Ma liste des documents</h5>
    <div class="document" >
      <ul>
        <% @documents.each do |document| %>
            <li >
              <%= document.name %>
              <% if document.photo.attached? %>
                <%= link_to raw('<i class="fa-regular fa-eye"></i>'), url_for(document.photo), class: "btn btn-primary", target: "_blank" %>
              <% else %>
                <span class="text-muted">Aucun fichier disponible</span>
              <% end %>
              <% if document.photo.attached? %>
              <%= link_to raw('<i class="fas fa-download"></i>'), rails_blob_url(document.photo, disposition: 'attachment'), class: "btn btn-primary" %>
              <% end %>
              <%= link_to raw('<i class="fa-regular fa-circle-xmark"></i>'), document_path(document), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer ce document?" }, class: "btn btn-danger" %>
            </li>
          <% end %>
      </ul>
    </div>
    </div>
    <div class="col-md-6">
      <h5>Ajouter un document</h5>
      <%= simple_form_for([@realty, @document]) do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :name %>
        <%= f.button :submit, "Ajouter le document", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
